@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Assign. 1</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/assignment1-style.css" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

	@Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 text-center">
				<h3>Kole Frazier's Game Library</h3>
				<h5>CS4790 Assignment 1</h5>
				<hr />
			</div>
		</div>

		<div class="row">
			<div class="col-sm-2 center-block bg-muted nav-panel-color nav-panel-title" id="sidecontainer">
				<div class="text-center"><h5><u>Navigation</u></h5></div>
				<ul class="list-unstyled text-center nav-panel-entry">
					<li><a asp-action="Index" class="panel btn-block">View Library</a></li>
					<li><a asp-action="TableView" class="panel btn-block">View Table List</a></li>
					<li><a asp-action="CompletedGames" class="panel btn-block">View Completed Games</a></li>
					<li><a asp-action="AddGame" class="panel btn-block">Add Game</a></li>
					<li></li>
				</ul>
			</div>

			<div class="col-sm-10">

				@RenderBody()

			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 text-center text-muted">
				<p>Created by Kole Frazier for CS4790 Assignment 1. See source on github: github.com/kolefrazier</p>
				<p>Controller icon (google-controller) credit materialdesignicons.com</p>
			</div>
		</div>

	</div>
</body>
</html>