@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Assign. 2</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/assignment2-style.css" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

	@Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-4 col-sm-6 text-center headertext">
				<h3>Kole Frazier's Game Library</h3>
				<h5>CS4790 Assignment 2</h5>
				<h6><i>A bit darker with a smidge more color!</i></h6>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 navbar navbar-default center-block text-center">
				<div class="nav navbar-header nav-text-header"><p class="navbar-brand nav-text-header">Navigation</p></div>
				<ul class="nav navbar-nav text-primary">
					<li><a asp-action="Index">View Library</a></li>
					<li><a asp-action="TableView">View Table List</a></li>
					<li><a asp-action="CompletedGames">View Completed Games</a></li>
					<li><a asp-action="AddGame">Add Game</a></li>
					<li><a asp-action="FaveFive">Fave 5</a></li>
				</ul>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 col-md-12 col-lg-12">
				@RenderBody()
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 text-center footertext">
				<hr />
				<div class="text-info">Created by Kole Frazier for CS4790 Assignment 2. Find source on <a href="https://github.com/kolefrazier">github</a>.</div>
				<div class="text-muted">Controller icon (google-controller) credit materialdesignicons.com</div>
			</div>
		</div>

	</div>
</body>
</html>