/* Many colors are copied from the Materialize.css color tables: http://materializecss.com/color.html */

html, body {
	height: 100vh;
	background-color: #212121;
}

p {
	color: #000000;
}

a:hover {
	text-decoration: none;
}

table {
	background-color: #ededed;
	color: #000000;
	/*border-bottom: 1px solid #000000;*/
}

table th {
	/*background-color: #d0d0d0;*/
	background-color: #2196f3;
	color: #000000;
	border-radius: 0; /*Each column header had color gaps where the rendered panels' corners were. This makes the entire th bar solid. */
}

table tr:nth-child(even) { /*Zebra-stripe the tables.*/
	/*background-color: #d0d0d0;*/
	background-color: #90caf9;
}

.circle-image {
	border-radius: 50%; /*This is the default value of "img-circle" from Bootstrap. This is me adding some fun transitions to it.*/
	-webkit-transition: all .2s ease-in-out; /*Chrome*/
	-moz-transition: all .2s ease-in-out; /*Firefox*/
	transition: all .2s ease-in-out;
}

.circle-image:hover {
	border-radius: 0%;
}

.headertext {
	color: #ffffff;
}

.bodytext {
	color: #ffffff;
}

.footertext p {
	color: #dddddd;
}

.footertext hr {
	color: #eeeeee;
}

.form-group input[type=text] { /*A generic "input" will change button backgrounds, too.*/
	background-color: #efefef;
	color: #000000;
}

.form-group .checkbox-label {
	display: block;
	float: left;
	white-space: nowrap;
}

.form-group input[type=checkbox] {
	vertical-align: middle;
}

.form-group .checkbox-label span {
	vertical-align: middle;
}

.nav-panel-color {
	background-color: #bdbdbd !important;
}

.nav-panel-title {
	font-size: 2.28rem;
	line-height: 110%;
	margin: 1.14rem 0 0.912rem 0;
}

.nav-panel-entry {
	font-size: 1rem;
	line-height: 110%;
	margin: 0.5rem 0 0.4rem 0;
}

.navbar, .nav.navbar-nav, .nav.navbar-header {
	background-color: #e0e0e0;
}

.navbar-default.navbar-collapse {
	border: none;
	margin: 0;
}

.nav.navbar-nav li a {
	color: #000000;
}

.nav.navbar-nav li a:hover {
	color: #000000;
	background-color: #666666;
	font-weight: 500;
}

.nav.navbar-header p {
	color: #000000;
	font-weight: 600;
	margin: 0;
}

.nav-text-header {
	color: #000000;
	font-weight: 300;
}

.form-group label {
	color: #ffffff;
}

.outline-regular {
	outline: 4px solid ;
	outline-offset: -7px; /*Adds a little space between the outline and the inner content.*/
}

.game-regular {
	background-color: #81c784;
	outline: 5px solid #1b5e20;
}

.game-completed {
	background-color: #81c784;
	outline: 5px solid #ff9100;
}

#sidecontainer {
	height: 100vh; /*Looks good on Med and Large screens, but becomes dominating on Small screens.*/
	overflow: auto;
}