@model Assignment1.Models.Game
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["IncludeMaterialCSS"] = false;
}
<div class="row">
	<div class="text-center"><h4>Add a New Game</h4></div>

	<form asp-action="AddGame">
		<div class="form-horizontal">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>

			<div class="form-group">
				<label asp-for="Name" class="col-md-2 control-label">Name:</label>
				<div class="col-md-10">
					<input asp-for="Name" class="form-control" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="Genre" class="col-md-2 control-label">Genre:</label>
				<div class="col-md-10">
					<input asp-for="Genre" class="form-control" />
					<span asp-validation-for="Genre" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="AchievementsEarned" class="col-md-2 control-label">Achievements Earned:</label>
				<div class="col-md-10">
					<input asp-for="AchievementsEarned" class="form-control" />
					<span asp-validation-for="AchievementsEarned" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="AchievementsTotal" class="col-md-2 control-label">Achievements Total:</label>
				<div class="col-md-10">
					<input asp-for="AchievementsTotal" class="form-control" />
					<span asp-validation-for="AchievementsTotal" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<label asp-for="Status" class="col-md-2 control-label">Completion Status:</label>
				<div class="col-md-10">
					<input asp-for="Status" class="form-control" />
					<span asp-validation-for="Status" class="text-danger"></span>
				</div>
			</div>

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Add Game" class="btn btn-default" />
				</div>
			</div>

		</div>
	</form>
</div>