@{
	ViewData["Title"] = "Fave 5 Games";
}

<div class="text-center bodytext headertext">
	<h2>Fave 5 Games</h2>
	<h4>(Just some styled images.)</h4>
	<hr />
</div>

<div class="row">
	<div class="col-lg-4"><img src="~/images/games/DarkSouls.jpg" class="img-responsive" /><br /><p class="bodytext text-center">Dark Souls</p></div>
	<div class="col-lg-4"></div>
	<div class="col-lg-4"><img src="~/images/games/TF2.jpg" class="img-circle" /><br /><p class="bodytext text-center">Team Fortress 2</p></div>
</div>

<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-4"><img src="~/images/games/Isaac.jpg" class="img-thumbnail img-rounded" /><br /><p class="bodytext text-center">Binding of Isaac</p></div>
	<div class="col-lg-4"></div>
</div>

<div class="row">
	<div class="col-lg-4"><img src="~/images/games/NieR.jpg" class="img-rounded" /><br /><p class="bodytext text-center">NieR Automata</p></div>
	<div class="col-lg-4"></div>
	<div class="col-lg-4"><img src="~/images/games/Transistor.png" class="img-rounded img-responsive" /><br /><p class="bodytext text-center">Transistor</p></div>
</div>