@{
	Layout = null;
}
<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width" />
		<title>CS4790 - Assignment 1</title>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" />
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col s12 center-align">
					<h3>Kole Frazier's Game Library</h3>
					<h5>CS4790 Assignment 1</h5>
				</div>
			</div>

			<div class="row">
				<div class="col s2 grey darken-1 center-align">
					<h5>Navigation</h5>
					<p>Dummy data</p>
					<p>Dummy data</p>
					<p>Dummy data</p>
					<p>Dummy data</p>
					<p>Dummy data</p>
					<p>Dummy data</p>
					<p>Dummy data</p>
				</div>
				
				<div class="col s10">
						<div class="col s6 grey lighten-2">
							<h5>Section 1</h5>
						</div>
						<div class="col s6 grey lighten-2">
							<h5>Section 2</h5>
						</div>
						<div class="col s12 green lighten-3">
							<h5>Section 2</h5>
						</div>
				</div>
			</div>

			<div class="row">
				<div class="col s12 light-blue lighten-2 center-align">
					<p>With some words in it.</p>
				</div>
			</div>

		</div>
	</body>
</html>